{% extends "layout.html" %}
{% block content %}
{% for i in text %}
<h1 class="text-center , font-italic">{{ i.title }}</h1><br>
{% endfor %}
<h2 class="font-weight-light">EDIT WORDS</h2>
<table class="table table-bordered" style="width: 100%">
    <thead>
      <tr class="table-active">
        <th scope="col">ID</th>
        <th scope="col" style="width: 40%;">Token</th>
        <th scope="col" style="width: 20%;">Pos</th>
        <th scope="col">Edit</th>

      </tr>
    </thead>
    <tbody>
        {% for i in words %}
        <tr>
          <th>{{ i.id }}</th>
          <td>{{ i.word }}</td>
          <td>{{ i.pos }}</td>
          <td>
            
            <form action="{{ url_for('update_pos', words_id=i.id) }}" method="POST">
                {{ form.csrf_token }}
                {{ form.edit(class="btn btn-warning dropdown-toggle") }}
                <input type="submit" class="btn btn-outline-primary" value="Edit">
            </form>
          </td>
        </tr>
        {% endfor %}
    </tbody>
</table>         
{% endblock content %}