{% extends "layout.html" %}
{% block content %}
<h1 class="text-center">TEXTS</h1><br>
<table class="table table-bordered">
    <thead>
      <tr class="table-active">
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col" style="width: 65%;" colspan="2">Text</th>
        
      </tr>
    </thead>
    <tbody>
        {% for i in texts %}
        <tr>
          <th>{{ i.id }}</th>
          <td class="font-italic">{{ i.title }}</td>
          <td>{{ i.text[0:160] }}. . .</td>
          <td style="width: 15%;"><a class="btn btn-outline-info" href="{{ url_for('sent', texts_id=i.id) }}">View sentences</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}